@import "bulma/bulma.sass";
@import "./assets/fonts/index.scss";

.center-all {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.grid-button {
  font-family: SuperMarket;
  font-size: 18mm;
  padding: 20mm;
  font-weight: bold;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.ads-box {
  h1 {
    color: black;
  }
  height: 100px;
}
